
# IDEs and editors
.idea/

# node modules
node_modules

# config files
config/
services/client_secret.json
services/client_secret_old.json
services/credentials.json
localConfig

#DB folder
DB

#client folder
/client